/** {*/
    /*margin: 0;*/
    /*padding: 0;*/
/*}*/

.header {
    height: 100px;
    background: #cccccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

h1 {
    color: red;
    font-size: 22px;
}

.container {
    width: 1100px;
    margin: 0 auto;
}

.catalog {
    margin: 50px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.cat-product {
    width: 30%;
    margin: 5px;
    border: 1px solid #cccccc;
    padding: 10px;
}

.cart-row {
    height: 50px;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.cart-name {
    text-align: left;
    width: 350px;
}

.cart-price {
     text-align: center;
    width: 150px;
 }

.cart-count {
    text-align: center;
    width: 150px;
}

.cart-close {
    text-align: right;
    color: red;
    font-weight: 800;
    cursor: pointer;
}

.error {
    text-align: center;
}

.footer {
    height: 100px;
    background: #cccccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}