<div class="news">
    {% for value in news %}
    <div class="news-item">
        <h1>{{ value.name }}</h1>
        <p>{{ value.description }}</p>
        <p>{{ value.data }}</p>
    </div>
    {% endfor %}
</div>